# Environment & cache
__pycache__/
*.pyc
*.pyo
*.pyd
.env/
.venv/
env/
venv/
*.egg-info/
.DS_Store

# Virtual environment folder
/.conda/
/.mypy_cache/
/.cache/
/logs/
/checkpoints/

# Data & model outputs
data/
models/saved/
experiments/logs/
*.pt
*.pth

# Notebook checkpoints
.ipynb_checkpoints/

# Environment config
requirements.lock
environment.yml
